{% if hidden %}
    {{ field.as_hidden }}
{% else %}
    <div {% if group_class %}class="{{ group_class }}"{% endif %}>
        {% if field.label %}
            <label for="{{ field.id_for_label }}" {% if field.field.required %}class="required"{% endif %}>
            {{ field.label|safe|capfirst }}
            </label>
        {% endif %}
        {{ field.errors }}
        {{ field }}
        {% if field.help_text %}
            <div class="app-text--hint">
            {{ field.help_text|safe }}
            </div>
        {% endif %}
    </div>
{% endif %}
