{% extends "layouts/default.html" %}
{% load dj_fluent %}

{% block content %}
{% include 'components/breadcrumb.html' with items=breadcrumb_items %}

<h1>
    {{ title }}
</h1>

<form method="POST">
    {% csrf_token %}

    <div class="app-cols" style="--cols: 4">
        {% include 'forms/row.html' with field=form.contract group_class="app-input-group" %}
        {% include 'forms/row.html' with field=form.working_time group_class="app-input-group" %}
        {% include 'forms/row.html' with field=form.health_insurance group_class="app-input-group" %}
        {% include 'forms/row.html' with field=form.executive_position group_class="app-input-group" %}
    </div>
    <div class="app-cols" style="--cols: 3">
        {% include 'forms/row.html' with field=form.annual_salary group_class="app-input-group" %}
        {% include 'forms/row.html' with field=form.transport_fee group_class="app-input-group" %}
        {% include 'forms/row.html' with field=form.sustainable_mobility_fee group_class="app-input-group" %}
    </div>
    <div class="app-cols" style="--cols: 2">
        {% include 'forms/row.html' with field=form.joining_date group_class="app-input-group" %}
        {% include 'forms/row.html' with field=form.leaving_date group_class="app-input-group" %}
    </div>

    <button type="submit" class="app-btn">
        {{ "common-form-save"|translate|capfirst }}
    </button>
</form>

{% endblock content %}
