{% extends 'layouts/default.html' %}
{% load dj_fluent %}

{% block content %}
{% include 'components/breadcrumb.html' with items=breadcrumb_items %}

<div class="app-flex-between">
    <h1>
        {{ title }}
    </h1>
    <div>
        <a class="app-btn app-btn--icon-right app-icon-plus" href="{% url 'accounts:workers_add' %}">
            {{ 'common-form-add'|translate }}
        </a>
    </div>
</div>

{% include "tables/partials/table.html" with table=table %}

{% endblock content %}
