{% load dj_fluent %}

<div
  data-controller="modal form-submit"
  data-modal-key-value="confirm"
  data-action="modal:submit->form-submit#submitForm"
>
  <dialog data-modal-target="dialog">
    <form method="dialog">
      <p>
        Supprimer l'objet "Client" ?
      </p>
      <button class="app-btn app-btn--secondary" value="close">
        Non, ne pas supprimer
      </button>
      <button class="app-btn" value="confirm">
        Oui, supprimer
      </button>
    </form>
  </dialog>

  <form
    method="POST"
    data-form-submit-target="form"
    action="{{ form_action }}"
  >
    {% csrf_token %}
    <input type="hidden" name="_method" value="DELETE" />

    <button type="submit" class="app-btn app-btn--secondary" data-modal-trigger-target="trigger" data-action="click->modal#open:prevent" aria-label="{{ 'common.actions.delete'|translate }}">
      {% include "icons/trash.html" with class_name="app-icon--sm" %}
    </button>
  </form>
</div>
