{% extends "layouts/default.html" %}
{% load dj_fluent %}

{% block content %}
{% include 'components/breadcrumb.html' with items=breadcrumb_items %}

<h1>
    {{ "crm-projects-add-title"|translate|capfirst }}
</h1>

<form method="POST">
    {% csrf_token %}

    {% include 'forms/row.html' with field=form.name group_class="app-input-group" %}
    {% include 'forms/row.html' with field=form.customer group_class="app-input-group" %}

    <button type="submit" class="app-btn">
        {{ "common-form-save"|translate|capfirst }}
    </button>
</form>

{% endblock content %}
