{% extends "layouts/default.html" %}
{% load dj_fluent %}

{% block content %}
{% include 'components/breadcrumb.html' with items=breadcrumb_items %}

<div class="inline-flex items-center">
  <h1>
    {{ title }}
  </h1>
</div>

<form method="POST">
  {% csrf_token %}

  {% include 'forms/row.html' with field=form.name group_class="app-input-group" %}
  {% include 'forms/row.html' with field=form.customer group_class="app-input-group" %}

  <button type="submit" class="app-btn">
    {{ "common-form-save"|translate|capfirst }}
  </button>
</form>

{% endblock content %}
