{% extends 'layouts/default.html' %}
{% load dj_fluent %}

{% block content %}
{% include 'components/breadcrumb.html' with items=breadcrumb_items %}

<div class="app-flex-between">
    <h1>
        {{ "crm-customers-title"|translate|capfirst }}
    </h1>

    <div>
        <a href="{% url 'crm:customers_add' %}" class="app-btn app-btn--icon-right app-icon-plus">
            {{ "common-form-add"|translate|capfirst }}
        </a>
    </div>
</div>

{% include "tables/partials/table.html" with table=table %}

{% endblock content %}
