{% load static dj_fluent %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#343a40" />
    <title>{% if title %}{{ title }} - {% endif %}{{ 'site-title'|translate }}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />
  </head>

  <body>
    {% block body %}{% endblock body %}

    {% block scripts %}
    <script src="{% static 'js/lib/fullcalendar/core/index.global.min.js' %}"></script>
    <script src="{% static 'js/lib/fullcalendar/core/locales/fr.global.min.js' %}"></script>
    <script src="{% static 'js/lib/fullcalendar/daygrid/index.global.min.js' %}"></script>
    <script src="{% static 'js/lib/fullcalendar/interaction/index.global.min.js' %}"></script>
    <script type="module" src="{% static 'js/index.js' %}" async defer></script>
    {% endblock scripts %}
  </body>
</html>
