{% extends "layouts/default.html" %}
{% load dj_fluent %}

{% block content %}
{% include 'components/breadcrumb.html' with items=breadcrumb_items %}

<h1>
  {{ 'accounts-edit-title'|translate|capfirst }}
</h1>

{% url "accounts:edit" as action %}
<form method="POST">
  {% csrf_token %}

  {% include 'forms/row.html' with field=form.username group_class="app-input-group" %}
  {% include 'forms/row.html' with field=form.first_name group_class="app-input-group" %}
  {% include 'forms/row.html' with field=form.last_name group_class="app-input-group" %}
  {% include 'forms/row.html' with field=form.email group_class="app-input-group" %}
  {% include 'forms/row.html' with field=form.password group_class="app-input-group" %}

  <button type="submit" class="app-btn">
    {{ 'common-form-save'|translate|capfirst }}
  </button>
</form>
{% endblock content %}
