{% extends "layouts/blank.html" %}
{% load static dj_fluent %}

{% block page %}

<div class="app-login">
    <div class="app-login__card">
        <div class="app-login__img">
            <img aria-hidden="true" src="{% static 'images/login-office.jpeg' %}" />
        </div>

        <div class="app-login__content">
            <h1 class="app-login__title">
                {{ "accounts-login-title"|translate }}
            </h1>

            {% if next %}
                <p class="app-login__next">
                    {% if user.is_authenticated %}
                        {{ "accounts-login-next-authenticated"|translate }}
                    {% else %}
                        {{ "accounts-login-next"|translate }}
                    {% endif %}
                </p>
            {% endif %}

            <form method="POST" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                {% include "components/server_errors.html" with errorlist=form.non_field_errors %}
    
                <div class="app-input-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
    
                <div class="app-input-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
 
                <input type="hidden" name="next" value="{{ next }}">
    
                <button type="submit" class="app-btn app-btn--full">
                    {{ 'accounts-login-form-button'|translate }}
                </button>
            </form>

            <p class="app-login__password-reset">
                <a href="{% url 'accounts:password_reset' %}">
                    {{ "accounts-login-form-password-lost"|translate }}
                </a>
            </p>

            <hr />
        </div>

    </div>
</div>

{% endblock page %}
