{% load dj_fluent %}

<nav class="app-breadcrumb">
  <ol>
    <li class="app-breadcrumb__item">
      <a href="/" class="app-breadcrumb__link--root">
        {% include "icons/dashboard.html" with class_name='app-icon--sm' %}
        {{ "site-title"|translate }}
      </a>
    </li>

    {% for item in items %}
      <li class="app-breadcrumb__item">
        {% with title=item.title|capfirst %}
          {% if item.path %}
            <a href="{{ item.path }}">{{ title }}</a>
          {% else %}
            {{ title }}
          {% endif %}
        {% endwith %}
      </li>
    {% endfor %}
  </ol>
</nav>
