{% load dj_fluent %}

<header class="app-header">
  {% if user.is_authenticated %}
    <details class="app-dropdown">
      <summary>
        {{ user.username|first|upper }}
      </summary>

      <ul class="app-raw-list app-dropdown__content">
        <li>
          <a href="{% url 'accounts:edit' %}" class="app-icon--left">
            {% include 'icons/user.html' with class_name="app-icon app-icon--sm" %}
            {{ 'header-account'|translate|capfirst }}
          </a>
        </li>
        <li>
          <a href="{% url 'accounts:logout' %}" class="app-icon--left">
            {% include 'icons/logout.html' with class_name="app-icon app-icon--sm" %}
            {{ 'header-logout'|translate|capfirst }}
          </a>
        </li>
      </ul>
    </details>
  {% endif %}
</header>
