{% load dj_fluent %}

{% with app_name=request.resolver_match.app_name view_name=request.resolver_match.view_name %}

<nav class="app-nav">
  <ul>
    <li>
      {% if view_name == 'home' %}
        <span class="app-nav__decoration" aria-hidden="true"></span>
      {% endif %}
      <a {% if view_name == 'home' %}aria-current="page"{% endif %} href="{% url 'home' %}">
        {% include 'icons/dashboard.html' with class_name='app-icon--sm' %}
        {{ "dashboard-title"|translate }}
      </a>
    </li>

    <li>
      {% if view_name == 'faircalendar:index' %}
        <span class="app-nav__decoration" aria-hidden="true"></span>
      {% endif %}
      <a {% if view_name == 'faircalendar:index' %}aria-current="page"{% endif %} href="{% url 'faircalendar:index' %}">
        {% include 'icons/calendar.html' with class_name='app-icon--sm' %}
        {{ "faircalendar-title"|translate }}
      </a>
    </li>

    <li>
      {% if app_name == 'crm' %}
        <span class="app-nav__decoration" aria-hidden="true"></span>
      {% endif %}

      <details open>
          <summary>
            {% include 'icons/crm.html' with class_name='app-icon--sm' %}
            {{ "crm-title"|translate }}
          </summary>

          <ul>
            <li>
              <a href="{% url 'crm:customers_list' %}" {% if view_name == 'crm:customers_list' %}aria-current="page"{% endif %}>
                {{ "crm-customers-title"|translate|capfirst }}
              </a>
            </li>
            <li>
              <a href="{% url 'crm:projects_list' %}" {% if view_name == 'crm:projects_list' %}aria-current="page"{% endif %}>
                {{ "crm-projects-title"|translate|capfirst }}
              </a>
            </li>
          </ul>
      </details>
    </li>

    <li>
      {% if app_name == 'accounts' %}
        <span class="app-nav__decoration" aria-hidden="true"></span>
      {% endif %}

      <details open>
        <summary>
          {% include 'icons/group.html' with class_name='app-icon--sm' %}
          {{ 'accounts-title'|translate }}
        </summary>

        <ul>
          <li>
            <a href="{% url 'accounts:workers_list' %}" {% if view_name == 'accounts:workers_list' %}aria-current="page"{% endif %}>
              {{ 'accounts-workers-title'|translate }}
            </a>
          </li>
        </ul>
      </details>
    </li>
  </ul>
</nav>

{% endwith %}
