{% load dj_fluent %}

{% if errorlist %}
<div class="app-errors">
    <div class="app-errors__icon">
        {% include 'icons/error.html' with class_name='app-icon--sm' %}
    </div>

    <div class="app-errors__content">
        <span class="app-errors__msg">{{ "common-error"|translate|capfirst }}</span>
        <ul class="app-errors__list">
            {% for error in errorlist %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
