@layer reset, defaults, components, utilities;

:root {
  --v: 0.25rem;
  --w: calc(2 * var(--v));
  --danger: rgb(240, 82, 82);
  --text-default: #333;
  --text-alt-grey: #ccc;
  --text-hint: #666;
  --text-primary: var(--primary);
  --text-danger: var(--danger);
  --text-on-primary: white;
  --text-on-danger: white;
  --primary: rgb(126 58 242);
  --border-default: rgb(226, 232, 240);
  --background-default: #fff;
  --background-danger: var(--danger);
  --background-alt-grey: #f9fafb;
  --radius-lg: 0.5rem;
  --font-size-md: 1.1rem;
  --font-size-sm: calc(0.8 * var(--font-size-md));
  --font-size-lg: calc(1.2 * var(--font-size-md));
  --font-size-h1: 2rem;
  --shadow-default: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
  --shadow-md: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
  --shadow-inner: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  --transition-default: 200ms;
  --event-mission-background: rgb(222, 247, 236);
  --event-mission-border: rgb(222, 247, 236);
  --event-mission-text: rgb(4, 108, 78);
  --event-dojo-background: rgb(225, 239, 254);
  --event-dojo-border: rgb(225, 239, 254);
  --event-dojo-text: rgb(26, 86, 219);
  --event-support-background: rgb(229, 237, 255);
  --event-support-border: rgb(229, 237, 255);
  --event-support-text: rgb(81, 69, 205);
  --event-formation_conference-background: rgb(254, 236, 220);
  --event-formation_conference-border: rgb(254, 236, 220);
  --event-formation_conference-text: rgb(180, 52, 3);
  --event-other-background: rgb(244, 245, 247);
  --event-other-border: rgb(244, 245, 247);
  --event-other-text: rgb(36, 38, 45);
  --event-holiday-background: rgb(237, 235, 254);
  --event-holiday-border: rgb(237, 235, 254);
  --event-holiday-text: rgb(108, 43, 217);
}

@layer reset {
  /* Source: https://www.joshwcomeau.com/css/custom-css-reset/ */

  /* 1. Use a more-intuitive box-sizing model. */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  *:not(dialog) {
    margin: 0;
  }

  /* 3. Allow percentage-based heights in the application */
  html,
  body {
    height: 100%;
  }

  /* Typographic tweaks! */
  /* 4. Add accessible line-height*/
  /* 5. Improve text rendering*/
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Remove built-in form typography styles */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button {
    border: none;
    cursor: pointer;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Create a root stacking context */
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer defaults {
  body {
    font-family: ui-sans-serif, system-ui, -apple-system, Arial, sans-serif;
    color: var(--text-default);
    font-size: var(--font-size-md);
  }

  a {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  p {
    margin-bottom: calc(4 * var(--v));
  }

  h1 {
    font-size: var(--font-size-h1);
    font-weight: bold;
    margin-bottom: calc(5 * var(--v));
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-default);
    margin: calc(8 * var(--v)) 0;
  }

  .required::after {
    content: " *";
    color: var(--danger);
  }
}

@layer components {
  .app-raw-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .app-text--hint {
    color: var(--text-hint);
  }

  .app-login {
    background-color: var(--background-alt-grey);
    min-height: 100vh;
    display: grid;
    place-content: center;
  }

  .app-login__card {
    background-color: var(--background-default);
    margin: 0 auto;
    max-width: calc(112 * var(--w));
    box-shadow: var(--shadow-default);
  }

  .app-login__img {
    height: calc(32 * var(--v));
  }

  @media screen and (min-width: 768px) {
    .app-login__card {
      display: flex;
    }
    .app-login__img {
      height: auto;
      width: 50%;
    }
    .app-login__content {
      width: 50%;
    }
  }

  .app-login__img > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .app-login__title {
    text-align: center;
  }

  .app-login__next {
    color: var(--text-danger);
    font-size: var(--font-size-sm);
  }

  .app-login__content {
    padding: calc(6 * var(--v));
  }

  @media screen and (min-width: 768px) {
    .app-login__content {
      padding: calc(12 * var(--v));
    }
  }

  .app-input-group {
    margin-bottom: calc(4 * var(--v));
  }

  .app-input-group > :is(input, select) {
    width: 100%;
    padding: calc(3 * var(--v)) calc(4 * var(--v));
    border: 1px solid var(--border-default);
    border-radius: var(--v);
  }

  .app-input-group > select {
    background-color: var(--background-default);
  }

  .app-breadcrumb {
    display: flex;
    padding: calc(2 * var(--v));
    margin: calc(6 * var(--v)) 0;
    background-color: var(--background-default);
    box-shadow: var(--shadow-md);
  }

  .app-breadcrumb > ol {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  .app-breadcrumb__item > a {
    font-weight: bold;
  }

  .app-breadcrumb__item:not(:first-child) {
    margin-left: calc(2 * var(--v));
  }

  .app-breadcrumb__item:not(:first-child)::before {
    content: "/";
  }

  .app-breadcrumb__link--root {
    display: flex;
    column-gap: var(--v);
  }

  .app-btn {
    padding: calc(2 * var(--v)) calc(4 * var(--v));
    text-align: center;
    background-color: var(--primary);
    color: var(--text-on-primary);
    transition: filter var(--transition-default);
  }

  .app-btn:hover {
    transition: filter var(--transition-default);
    filter: brightness(90%);
  }

  .app-btn--secondary {
    background-color: var(--background-default);
    color: var(--primary);
  }

  .app-btn--danger {
    background-color: var(--background-danger);
    color: var(--text-on-danger);
  }

  .app-btn--full {
    width: 100%;
  }

  .app-btn--icon-right.app-icon-plus::after {
    content: "+";
    margin-left: var(--v);
  }

  .app-login__password-reset {
    text-align: center;
    margin-top: calc(4 * var(--v));
  }

  .app-icon--danger {
    color: var(--text-danger);
  }

  .app-icon--sm {
    width: calc(6 * var(--v));
    height: calc(6 * var(--v));
  }

  .app-icon--left {
    display: flex;
    align-items: center;
  }

  .app-icon--left > .app-icon {
    margin-inline-end: calc(2 * var(--v));
  }

  .app-errors {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    background-color: var(--background-default);
    margin-top: calc(3 * var(--v));
    box-shadow: var(--shadow-md);
    margin-bottom: calc(5 * var(--v));
  }

  .app-errors__icon {
    color: var(--text-on-danger);
    background-color: var(--background-danger);
    height: 100%;
    display: grid;
    place-content: center;
    padding: calc(3 * var(--v));
  }

  .app-errors__content {
    padding: calc(4 * var(--v));
  }

  .app-errors__msg {
    color: var(--text-danger);
    font-weight: bold;
  }

  .app-errors__list {
    font-size: var(--font-size-sm);
    list-style-type: none;
    padding: 0;
  }

  .app-default {
    display: grid;
    grid-template-areas:
      "nav header"
      "nav main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    background-color: var(--background-alt-grey);
  }

  .app-default__sidebar {
    grid-area: nav;
    background-color: var(--background-default);
  }

  .app-default__content {
    padding: 0 calc(6 * var(--v));
  }

  .app-brand {
    display: inline-flex;
    align-items: center;
    column-gap: calc(3 * var(--v));
    padding: calc(6 * var(--v));
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  .app-brand__logo {
    width: calc(8 * var(--v));
    height: calc(8 * var(--v));
  }

  .app-nav {
    overflow-y: auto;
    padding: calc(4 * var(--v)) 0;
  }

  .app-nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }

  .app-nav ul li {
    position: relative;
    padding: calc(3 * var(--v)) calc(3 * var(--v));
  }

  .app-nav ul li ul {
    padding: calc(2 * var(--v));
    margin-top: calc(2 * var(--v));
    overflow: hidden;
    font-size: var(--font-size-sm);
    box-shadow: var(--shadow-inner);
    background-color: var(--background-alt-grey);
  }

  .app-nav ul li ul li {
    padding: calc(2 * var(--v)) calc(1 * var(--v));
  }

  .app-nav__decoration {
    position: absolute;
    inset: 0;
    left: 0;
    width: var(--v);
    background-color: var(--primary);
    border-top-right-radius: var(--radius-lg);
    border-bottom-right-radius: var(--radius-lg);
  }

  .app-nav a, .app-nav details > summary {
    display: inline-flex;
    column-gap: calc(2 * var(--v));
    align-items: center;
    width: 100%;
    font-size: var(--font-size-sm);
  }

  .app-nav details > summary {
    cursor: pointer;
  }

  .app-nav a[aria-current="page"] {
    font-weight: bold;
  }

  .app-nav details summary > svg, svg.app-icon--sm {
    display: inline;
  }

  .app-header {
    grid-area: header;
    background-color: var(--background-default);
    display: flex;
    justify-content: end;
    padding: calc(3 * var(--v));
  }

  details.app-dropdown {
    position: relative;
  }
  
  details.app-dropdown > summary {
    cursor: pointer;
  }

  details.app-dropdown .app-dropdown__content {
    z-index: 1;
    position: absolute;
    background-color: var(--background-default);
    box-shadow: var(--shadow-default);
    right: 0;
    width: max-content;
    padding: calc(3 * var(--v));
  }

  ul.app-dropdown__content > li {
    padding-block: calc(2 * var(--v));
  }

  .app-form--default {
    padding: calc(3 * var(--v)) calc(4 * var(--v));
    background-color: var(--background-default);
    box-shadow: var(--shadow-md);
  }

  .app-table {
    width: 100%;
    overflow: hidden;
    box-shadow: var(--shadow-default);
  }

  .app-table table {
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;
  }

  .app-table thead tr {
    font-size: var(--font-size-sm);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  }

  .app-table th {
    padding: calc(3 * var(--v)) calc(4 * var(--v));
  }

  .app-table tbody {
    background-color: var(--background-default);
  }

  .app-table tbody tr {
    border-top: 1px solid var(--border-default);
  }

  .app-table tbody tr:last-child {
    border-bottom: 1px solid var(--border-default);
  }

  .app-table tbody td {
    padding: calc(3 * var(--v)) calc(4 * var(--v));
    font-size: var(--font-size-sm);
  }

  .app-pagination {
    display: grid;
    grid-template-areas: "counts . nav";
    grid-template-columns: auto auto auto;
    padding: calc(3 * var(--v)) calc(4 * var(--v));
    font-size: var(--font-size-sm);
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid var(--border-default);
  }

  .app-pagination__counts {
    grid-area: counts;
    display: flex;
    align-items: center;
    column-span: 3;
  }

  .app-pagination nav {
    grid-area: nav;
    display: flex;
    margin-top: calc(2 * var(--v));
  }

  .app-pagination ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
  }

  .app-navigation li {
    padding: calc(1 * var(--v)) calc(3 * var(--v));
  }

  @media screen and (min-width: 768px) {
    .app-pagination nav {
      margin-top: auto;
      justify-content: end;
    }
  }

  .app-actions {
    display: flex;
  }

  .app-action-edit {
    padding: calc(2 * var(--v)) 0;
    color: var(--text-primary);
  }

  .app-flex-between {
    display: flex;
    justify-content: space-between;
  }

  .app-cols {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    column-gap: calc(3 * var(--w));
  }

  .app-card {
    background-color: var(--background-default);
    padding: calc(4 * var(--v));
    box-shadow: var(--shadow-md);
    border-radius: var(--w);
  }
}

/* fullcalendar customizations */

.fc-event {
  padding: var(--v);
  font-weight: bold;
}

/* django-debug-toolbar */

#djDebugToolbarHandle {
  top: 5vh !important;
}
