{% load django_tables2 %}
{% load dj_fluent %}

{% block table-wrapper %}
<div class="app-table" data-id="table">
  {% block table %}
    <table {% render_attrs table.attrs %}>
      {% block table.thead %}
        {% if table.show_header %}
          <thead {{ table.attrs.thead.as_html }}>
            <tr>
              {% for column in table.columns %}
                <th {{ column.attrs.th.as_html }}>
                  {% if column.orderable %}
                    <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">
                        {{ column.header }}
                    </a>
                  {% else %}
                    {{ column.header }}
                  {% endif %}
                </th>
              {% endfor %}
            </tr>
          </thead>
        {% endif %}
      {% endblock table.thead %}

      {% block table.tbody %}
        <tbody {{ table.attrs.tbody.as_html }}>
          {% for row in table.paginated_rows %}
            {% block table.tbody.row %}
              <tr {{ row.attrs.as_html }}>
                {% for column, cell in row.items %}
                  <td {{ column.attrs.td.as_html }}>
                    {% if column.localize == None %}
                      {{ cell }}
                    {% elif column.localize %}
                      {{ cell|localize }}
                    {% else %}
                      {{ cell|unlocalize }}
                    {% endif %}
                  </td>
                {% endfor %}
              </tr>
            {% endblock table.tbody.row %}
          {% empty %}
            {% if table.empty_text %}
              {% block table.tbody.empty_text %}
                <tr>
                  <td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
                </tr>
              {% endblock table.tbody.empty_text %}
            {% endif %}
          {% endfor %}
        </tbody>
      {% endblock table.tbody %}

      {% block table.tfoot %}
        {% if table.has_footer %}
        <tfoot {{ table.attrs.tfoot.as_html }}>
          <tr>
            {% for column in table.columns %}
            <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
            {% endfor %}
          </tr>
        </tfoot>
        {% endif %}
      {% endblock table.tfoot %}
    </table>
  {% endblock table %}

  {% block pagination %}
  <div class="app-pagination">
    <span class="app-pagination__counts">
      {% translate 'pagination' start_index=table.page.start_index end_index=table.page.end_index total_items=table.paginator.count %}
    </span>

    {% if table.page and table.paginator.num_pages > 1 %}
      <nav aria-label="{{ 'pagination-title'|translate }}">
        <ul>
          <!-- Previous button -->
          {% if table.page.has_previous %}
            {% block pagination.previous %}
            <li>
              {% with "pagination-previous"|translate|capfirst as previous_label %}
                <a
                  href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}"
                  class="app-btn app-btn--secondary"
                  aria-label="{{ previous_label}}"
                >
                  {{ previous_label }}
                </a>
              {% endwith %}
            </li>
            {% endblock pagination.previous %}
          {% endif %}

          <!-- 1, 2, ... page buttons -->
          {% if table.page.has_previous or table.page.has_next %}
            {% block pagination.range %}
              {% for p in table.page|table_page_range:table.paginator %}
              <li {% if p == table.page.number %}aria-current="page"{% endif %}>
                <a
                  class="app-btn {% if p != table.page.number %}app-btn--secondary{% endif %}"
                  href="{% if p == '...' %}{{ '#' }}{% else %}{% querystring table.prefixed_page_field=p %}{% endif %}"
                >
                  {{ p }}
                </a>
              </li>
              {% endfor %}
            {% endblock pagination.range %}
          {% endif %}

          <!-- Next button -->
          {% if table.page.has_next %}
            {% block pagination.next %}
            <li>
              {% with "pagination-next"|translate|capfirst as next_label %}
                <a
                  href="{% querystring table.prefixed_page_field=table.page.next_page_number %}"
                  class="app-btn app-btn--secondary"
                  aria-label="{{ next_label }}"
                >
                  {{ next_label }}
                </a>
              {% endwith %}
            </li>
            {% endblock pagination.next %}
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
  {% endblock pagination %}
</div>
{% endblock table-wrapper %}
