{% extends "layouts/default.html" %}
{% load dj_fluent %}

{% block content %}
{% include 'components/breadcrumb.html' with items=breadcrumb_items %}

<h1>
    {% translate 'faircalendar-event-edit-title' date=form.date.value %}
</h1>

<form method="POST">
    {% csrf_token %}

    {% include 'forms/row.html' with field=form.type group_class="app-input-group" %}
    {% include 'forms/row.html' with field=form.date group_class="app-input-group" hidden=True %}
    {% include 'forms/row.html' with field=form.project group_class="app-input-group" %}
    {% include 'forms/row.html' with field=form.comment group_class="app-input-group" %}

    <div class="app-flex-between">
        <button type="submit" class="app-btn">
            {{ "common-form-save"|translate|capfirst }}
        </button>

        <button type="button" form="delete-form" data-controller="trigger" class="delete-form-trigger app-btn app-btn--danger">
            {{ 'common-form-delete'|translate }}
        </button>
    </div>
</form>

<div data-controller="modal form-submit" data-modal-key-value="confirm" data-modal-trigger-outlet=".delete-form-trigger" data-action="modal:submit->form-submit#submitForm">
    <dialog data-modal-target="dialog">
        <form method="dialog">
            <p>{% translate 'common-form-delete-confirm' obj='faircalendar-event-name'|translate %}</p>
            <button class="app-btn app-btn--secondary" value="close">
                {{ 'common-form-delete-confirm-no'|translate }}
            </button>
            <button class="app-btn" value="confirm">
                {{ 'common-form-delete-confirm-yes'|translate }}
            </button>
        </form>
    </dialog>

    <form
        id="delete-form"
        method="POST"
        action="{% url 'faircalendar:events_delete' pk=form.instance.pk %}"
        data-form-submit-target="form"
        >    
        {% csrf_token %}
    </form>
</div>
{% endblock content %}
