{% extends "layouts/blank.html" %}
{% load static dj_fluent %}

{% block page %}
<div class="app-default">
    <aside class="app-default__sidebar">
        <a class="app-brand" href="{% url 'home' %}">
            <img class="app-brand__logo" src="{% static 'images/logo.png' %}" alt="Fairness" />
            <span>{{ "site-title"|translate }}</span>
        </a>

        {% include "components/nav.html" %}
    </aside>

    {% include "components/header.html" %}

    <main class="app-default__content">
        {% block content %}{% endblock content %}
    </main>
</div>
{% endblock page %}
